/*Videos slider*/
.carousel_bg{
    background-color:black;
}

/*Club*/
#terms {
    padding: 20px 0 20px;
}
#words {
    text-align:center;
    padding-top:100px;
}
.index-img1 {
	width:60%;
	height:60%;
	margin-top:30%;
	margin-left:30%
}
/*Second Part*/
.carousel-item {
	top:20%;
}
.cage {
	min-height:210px;
	max-width:300px;
	margin-right: 40px;
	background-color: #eee;
	padding:10px;
}
/*Connection*/
 #call4action {
    padding: 30px 0 30px;
    text-align:center;
    text-decoration-color:gold;
}
@media(max-width:765px){
	.index-img1 {
		width:80%;
		height:80%;
		margin-top:20%;
	}
}